In [13]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [14]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php"

In [15]:
response = requests.get(url)
response.status_code

200

In [16]:
#parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [58]:
# print(soup.prettify())

In [ ]:
#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p

In [18]:
soup.select("#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p")

In [59]:
# soup.select("div.chart-content.col-xs-12.col-sm-8 > p")

In [36]:
soup.select("div.chart-content.col-xs-12.col-sm-8 > p")[0]

In [34]:
soup.select("div.chart-content.col-xs-12.col-sm-8 > p")[0].get_text()

'About Damn TimeLizzo'

In [60]:
# soup.select("p.title-artist")

In [52]:
soup.select("p.title-artist cite.title")[0].get_text()

'About Damn Time'

In [53]:
soup.select("p.title-artist em.artist")[0].get_text()

'Lizzo'

In [64]:
title=[]
artist=[]


title_list=soup.select("p.title-artist cite.title")
artist_list=soup.select("p.title-artist em.artist")

num_iter = len(soup.select("p.title-artist"))

for i in range(num_iter):
    title.append(title_list[i].get_text())
    artist.append(artist_list[i].get_text())

# print (title)
# print (artist)

In [56]:
songs = pd.DataFrame({"title":title,
                       "artist":artist
                      })

In [57]:
songs.head()

                                    title         artist
0                         About Damn Time          Lizzo
1  Running Up That Hill (A Deal with God)      Kate Bush
2                              Y'all Life   Walker Hayes
3                                   Names  Tom MacDonald
4                           BREAK MY SOUL        Beyoncé

# second lab

In [61]:
url = "https://www.officialcharts.com/charts/singles-chart/"

In [62]:
response = requests.get(url)
response.status_code

200

In [63]:
soup = BeautifulSoup(response.content, "html.parser")

In [89]:
# print(soup.prettify())

In [83]:
print(soup.select("div.title a")[0].get_text())

AFRAID TO FEEL

In [84]:
print(soup.select("div.artist a")[0].get_text())

LF SYSTEM

In [88]:
title2=[]
artist2=[]


title_list2=soup.select("div.title a")
artist_list2=soup.select("div.artist a")

num_iter2 = len(soup.select("div.artist"))

for i in range(num_iter2):
    title2.append(title_list2[i].get_text())
    artist2.append(artist_list2[i].get_text())

# print (title2)
# print (artist2)

In [86]:
songs2 = pd.DataFrame({"title":title2,
                       "artist":artist2
                      })

In [87]:
songs2.head()

                  title        artist
0        AFRAID TO FEEL     LF SYSTEM
1             AS IT WAS  HARRY STYLES
2     GREEN GREEN GRASS   GEORGE EZRA
3         BREAK MY SOUL       BEYONCE
4  RUNNING UP THAT HILL     KATE BUSH

In [ ]:
# FBI

In [90]:
url="https://www.fbi.gov/wanted/topten"

In [91]:
response = requests.get(url)
response.status_code

200

In [104]:
soup = BeautifulSoup(response.content, "html.parser")
# print(soup.prettify())

In [97]:
print(soup.select("#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a "))

[]

In [99]:
print(soup.select("h3.title a")[0].get_text())

JASON DEREK BROWN

In [100]:
names=[]

name_list=soup.select("h3.title a")

num_iter3 = len(soup.select("h3.title a"))

for i in range(num_iter3):
    names.append(name_list[i].get_text())


print (names)

['JASON DEREK BROWN', 'RUJA IGNATOVA', 'ARNOLDO JIMENEZ', 'ALEXIS FLORES', 'JOSE RODOLFO VILLARREAL-HERNANDEZ', 'YULAN ADONAY ARCHAGA CARIAS', 'RAFAEL CARO-QUINTERO', 'EUGENE PALMER', 'BHADRESHKUMAR CHETANBHAI PATEL', 'ALEJANDRO ROSALES CASTILLO']

In [101]:
wanted = pd.DataFrame({"name":names})

In [102]:
wanted.head()

                                name
0                  JASON DEREK BROWN
1                      RUJA IGNATOVA
2                    ARNOLDO JIMENEZ
3                      ALEXIS FLORES
4  JOSE RODOLFO VILLARREAL-HERNANDEZ

In [ ]:
# languages

In [103]:
url = "https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers"
response = requests.get(url)
response.status_code

200

In [106]:
soup = BeautifulSoup(response.content, "html.parser")
# print(soup.prettify())

In [109]:
# print(soup.select("td a"))

In [108]:
lang=[]
lang_list=soup.select("td a")
num_iter4 = len(soup.select("td a"))
for i in range(num_iter4):
    lang.append(lang_list[i].get_text())
print(lang[:10])
top10 = lang[:10]
top10

['Mandarin Chinese', 'Sino-Tibetan', 'Sinitic', 'Spanish', 'Indo-European', 'Romance', 'English', 'Indo-European', 'Germanic', 'Hindi']

['Mandarin Chinese',
 'Sino-Tibetan',
 'Sinitic',
 'Spanish',
 'Indo-European',
 'Romance',
 'English',
 'Indo-European',
 'Germanic',
 'Hindi']

In [111]:
top_10 = pd.DataFrame({"language":top10})
top_10

           language
0  Mandarin Chinese
1      Sino-Tibetan
2           Sinitic
3           Spanish
4     Indo-European
5           Romance
6           English
7     Indo-European
8          Germanic
9             Hindi